---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
  firstName: "Kuba",
  country: "Poland",
  occupation: "Web Developer",
  hobbies: ["coding", "gaming", "music", "movies"],
};

const skills = ["HTML", "Sass", "TypeScript", "React", "Astro", "Tailwind CSS"];

const happy = true;
const finished = true;
const goal = 1;
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Getting to know Astro and Tailwind CSS with daisyUI</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
    adipisci veniam? Obcaecati error, amet at fugiat ex non voluptate tempore!
  </p>
  <h2>Here are some facts about me:</h2>
  <ul>
    <li>
      <strong>First name:</strong>
      {identity.firstName}
    </li>
    <li>
      <strong>Country:</strong>
      {identity.country}
    </li>
    <li>
      <strong>Occupation:</strong>
      {identity.occupation}
    </li>
    <li>
      <strong>Hobbies:</strong>
      <ul>
        {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
      </ul>
    </li>
  </ul>
  <h2>My skills are:</h2>
  <ul>
    {skills.map((skill) => <li>{skill}</li>)}
  </ul>
  {happy && <p>I am happy to be learning new technologies</p>}
  {finished && <p>I have finished learning new technologies</p>}
  {
    goal === 1 ? (
      <p>I have reached my goal</p>
    ) : (
      <p>I have not reached my goal</p>
    )
  }
</BaseLayout>
