---
import BaseLayout from "./BaseLayout.astro";

type Props = {
  frontmatter: {
    title: string;
    pubDate: string;
    description: string;
    author: string;
    image: {
      url: string;
      alt: string;
    };
    tags: string[];
  };
};

const { title, pubDate, description, author, image, tags } =
  Astro.props.frontmatter;
---

<BaseLayout pageTitle={title}>
  {
    tags.map((tag) => (
      <div class="badge badge-neutral flex-inline mr-2">
        <a class="text-base" href={`/tags/${tag}`}>
          {tag}
        </a>
      </div>
    ))
  }
  <p>{pubDate.slice(0, 10)}</p>
  <p><em>{description}</em></p>
  <p>Written by: {author}</p>
  <img src={image.url} width="300" alt={image.alt} />
  <slot />
</BaseLayout>
